<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-style:solid;border-width:2px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
    padding:10px 5px;word-break:normal;}
  .tg th{border-style:solid;border-width:2px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-46ru{background-color:#96fffb;border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-d52n{background-color:#32cb00;border-color:inherit;text-align:left;vertical-align:top;cursor:pointer;}
  .tg .tg-d52x{background-color:#66ffad;border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-llyw{background-color:#c0c0c0;border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
  .tg .tg-re1e{background-color:#656565;border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-elvq{background-color:#fffc9e;border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-90e1{background-color:#ffccc9;border-color:inherit;text-align:left;vertical-align:top}
  </style>
  <table class="tg" align="center">
  <thead>
    <tr>
      <th class="tg-0pky"><span style="font-style:italic">TIME</span></th>
      <th class="tg-0pky"><span style="font-weight:bold">Lundi (Juillet 8ème)</span></th>
      <th class="tg-0pky"><span style="font-weight:bold">Mardi (Juillet 9ème)</span></th>
      <th class="tg-0pky"><span style="font-weight:bold">Mercredi (Juillet 10ème)</span></th>
      <th class="tg-0pky"><span style="font-weight:bold">Jeudi (Juillet 11ème)</span></th>
      <th class="tg-0pky"><span style="font-weight:bold">Vendredi (Juillet 12ème)</span></th>
    </tr>
</thead>
<tbody>
    <tr>
      <td class="tg-fymr">8:00-9:00</td>
      <td class="tg-re1e" rowspan="4"></td>
      <td class="tg-46ru"> Café et Collations </td>
      <td class="tg-46ru"> Café et Collations </td>
      <td class="tg-46ru"> Café et Collations </td>
      <td class="tg-elvq" rowspan="3">Temps de quitter</td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">9:00-10:00</span></td>
      <td class="tg-90e1" rowspan="2">Conférences étudiantes</td>
      <td class="tg-90e1" rowspan="2">Conférences étudiantes</td>
      <td class="tg-90e1" rowspan="2">Conférences étudiantes</td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">10:00-11:00</span></td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">11:00-12:00</span></td>
      <td class="tg-d52n" onclick="location.href='/fr/keynote/hamieh';"> Moments of L-functions - Dr. Aliah Hamieh (keynote) </td>
      <td class="tg-d52n" onclick="location.href='/fr/keynote/adcock';"> Dr. Ben Adcock (keynote) </td>
      <td class="tg-d52n" onclick="location.href='/fr/keynote/scandolo';"> The Power of Quantum Resources - Dr. Carlo Maria Scandolo (keynote) </td>
      <td class="tg-d52n" onclick="location.href='/fr/keynote/williams';"> Our Friend the Transpose - Dr. Ben Williams (keynote) </td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">12:00-13:00</span></td>
      <td class="tg-elvq" rowspan="2">Inscription</td>
      <td class="tg-46ru">Déjeuner</td>
      <td class="tg-46ru">Déjeuner et Café avec des étudiantes diplômés</td>
      <td class="tg-46ru">Déjeuner</td>
      <td class="tg-elvq">Remarques de clôture et résultats des concours</td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">13:00-14:00</span></td>
      <td class="tg-d52x">Comité des femmes en mathématiques</td>
      <td class="tg-re1e"></td>
      <td class="tg-d52x">Séances de Putnam</td>
      <td class="tg-re1e" rowspan="9"></td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">14:00-15:00</span></td>
      <td class="tg-elvq">Remarques liminaires</td>
      <td class="tg-d52n" onclick="location.href='/fr/keynote/cytrynbaum';"> Dr. Eric Cytrynbaum (keynote) </td>
      <td class="tg-d52n" onclick="location.href='/fr/keynote/walji';"> Des aiguilles dans une botte de foin - Dr. Nahid Walji (keynote, FR) </td>
      <td class="tg-d52n" onclick="location.href='/fr/keynote/dukes';"> Dimension Without Coordinates - Dr. Peter Dukes (keynote) </td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">15:00-16:00</span></td>
      <td class="tg-d52n" onclick="location.href='/fr/keynote/pramanik';"> Numbers -- Are They Normal? - Dr. Malabika Pramanik (keynote) </td>
      <td class="tg-90e1" rowspan="2">Conférences étudiantes</td>
      <td class="tg-90e1" rowspan="2">Conférences étudiantes</td>
      <td class="tg-90e1" rowspan="2">Conférences étudiantes</td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">16:00-17:00</span></td>
      <td class="tg-llyw" rowspan="2">Temps libres/Visites guidées de campus</td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">17:00-18:00</span></td>
      <td class="tg-re1e"></td>
      <td class="tg-re1e" rowspan="5"></td>
      <td class="tg-re1e" rowspan="3"></td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">18:00-19:00</span></td>
      <td class="tg-46ru" rowspan="3">Événement sociale et BBQ sur la plage</td>
      <td class="tg-46ru">Dîner</td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">19:00-20:00</span></td>
      <td class="tg-46ru" rowspan="2">Événement sociale</td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">20:00-21:00</span></td>
      <td class="tg-46ru" rowspan="2">Dîner de gala à 'Seasons in the Park'<br></td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">21:00-22:00</span></td>
      <td class="tg-re1e"></td>
      <td class="tg-re1e"></td>
    </tr>
  </tbody>
</table>