<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
    .tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
    .tg .tg-re1e{background-color:#656565;border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg" align="center">
    <thead>
      <tr>
        <th class="tg-0pky"><span style="font-style:italic">TIME</span></th>
        <th class="tg-0pky"><span style="font-weight:bold">Monday</span></th>
        <th class="tg-0pky"><span style="font-weight:bold">Tuesday</span></th>
        <th class="tg-0pky"><span style="font-weight:bold">Wednesday</span></th>
        <th class="tg-0pky"><span style="font-weight:bold">Thursday</span></th>
        <th class="tg-0pky"><span style="font-weight:bold">Friday</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-fymr">8:00-9:00</td>
        <td class="tg-re1e" rowspan="4"></td>
        <td class="tg-0pky"> Coffee &amp; Snacks </td>
        <td class="tg-0pky"> Coffee &amp; Snacks </td>
        <td class="tg-0pky"> Coffee &amp; Snacks </td>
        <td class="tg-0pky" rowspan="3">Time to Move <br>Out</td>
      </tr>
      <tr>
        <td class="tg-0pky"><span style="font-weight:bold">9:00-10:00</span></td>
        <td class="tg-0pky" rowspan="2">Student Talks</td>
        <td class="tg-0pky" rowspan="2">Student Talks</td>
        <td class="tg-0pky" rowspan="2">Student Talks</td>
      </tr>
      <tr>
        <td class="tg-0pky"><span style="font-weight:bold">10:00-11:00</span></td>
      </tr>
      <tr>
        <td class="tg-0pky"><span style="font-weight:bold">11:00-12:00</span></td>
        <td class="tg-0pky">Keynote</td>
        <td class="tg-0pky">Keynote</td>
        <td class="tg-0pky">Keynote</td>
        <td class="tg-0pky">Keynote</td>
      </tr>
      <tr>
        <td class="tg-0pky"><span style="font-weight:bold">12:00-13:00</span></td>
        <td class="tg-0pky" rowspan="2">Registration</td>
        <td class="tg-0pky">Lunch</td>
        <td class="tg-0pky">Lunch &amp; Grad Coffee Chat</td>
        <td class="tg-0pky">Lunch</td>
        <td class="tg-0pky">Closing Remarks<br>&amp; Giveaways</td>
      </tr>
      <tr>
        <td class="tg-0pky"><span style="font-weight:bold">13:00-14:00</span></td>
        <td class="tg-0pky">Women In Math Panel</td>
        <td class="tg-re1e"></td>
        <td class="tg-0pky">Putnam Session</td>
        <td class="tg-re1e" rowspan="9"></td>
      </tr>
      <tr>
        <td class="tg-0pky"><span style="font-weight:bold">14:00-15:00</span></td>
        <td class="tg-0pky">Opening Remarks</td>
        <td class="tg-0pky">Keynote</td>
        <td class="tg-0pky">Keynote</td>
        <td class="tg-0pky">Keynote</td>
      </tr>
      <tr>
        <td class="tg-0pky"><span style="font-weight:bold">15:00-16:00</span></td>
        <td class="tg-0pky">Keynote</td>
        <td class="tg-0pky" rowspan="2">Student Talks</td>
        <td class="tg-0pky" rowspan="2">Student Talks</td>
        <td class="tg-0pky" rowspan="2">Student Talks</td>
      </tr>
      <tr>
        <td class="tg-0pky"><span style="font-weight:bold">16:00-17:00</span></td>
        <td class="tg-0pky" rowspan="2">Free Time/Campus Tours</td>
      </tr>
      <tr>
        <td class="tg-0pky"><span style="font-weight:bold">17:00-18:00</span></td>
        <td class="tg-re1e"></td>
        <td class="tg-re1e" rowspan="5"></td>
        <td class="tg-re1e" rowspan="3"></td>
      </tr>
      <tr>
        <td class="tg-0pky"><span style="font-weight:bold">18:00-19:00</span></td>
        <td class="tg-0pky" rowspan="3">BBQ at Locarno beach</td>
        <td class="tg-0pky">Dinner</td>
      </tr>
      <tr>
        <td class="tg-0pky"><span style="font-weight:bold">19:00-20:00</span></td>
        <td class="tg-0pky" rowspan="2">Social</td>
      </tr>
      <tr>
        <td class="tg-0pky"><span style="font-weight:bold">20:00-21:00</span></td>
        <td class="tg-0pky" rowspan="2">Gala Dinner at<br>Seasons in the Park<br></td>
      </tr>
      <tr>
        <td class="tg-0pky"><span style="font-weight:bold">21:00-22:00</span></td>
        <td class="tg-re1e"></td>
        <td class="tg-re1e"></td>
      </tr>
    </tbody>
</table>