<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-style:solid;border-width:2px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
    padding:10px 5px;word-break:normal;}
  .tg th{border-style:solid;border-width:2px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-46ru{background-color:#96fffb;border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-d52n{background-color:#32cb00;border-color:inherit;text-align:left;vertical-align:top;cursor:pointer;}
  .tg .tg-d52x{background-color:#66ffad;border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-llyw{background-color:#c0c0c0;border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
  .tg .tg-re1e{background-color:#656565;border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-elvq{background-color:#fffc9e;border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-90e1{background-color:#ffccc9;border-color:inherit;text-align:left;vertical-align:top}
  </style>
  <table class="tg" align="center">
  <thead>
    <tr>
      <th class="tg-0pky"><span style="font-style:italic">TIME</span></th>
      <th class="tg-0pky"><span style="font-weight:bold">Monday (July 8th)</span></th>
      <th class="tg-0pky"><span style="font-weight:bold">Tuesday (July 9th)</span></th>
      <th class="tg-0pky"><span style="font-weight:bold">Wednesday (July 10th)</span></th>
      <th class="tg-0pky"><span style="font-weight:bold">Thursday (July 11th)</span></th>
      <th class="tg-0pky"><span style="font-weight:bold">Friday (July 12th)</span></th>
    </tr>
</thead>
<tbody>
    <tr>
      <td class="tg-fymr">8:00-9:00</td>
      <td class="tg-re1e" rowspan="4"></td>
      <td class="tg-46ru"> Coffee &amp; Snacks </td>
      <td class="tg-46ru"> Coffee &amp; Snacks </td>
      <td class="tg-46ru"> Coffee &amp; Snacks </td>
      <td class="tg-elvq" rowspan="3">Time to Move <br>Out</td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">9:00-10:00</span></td>
      <td class="tg-90e1" rowspan="2">Student Talks</td>
      <td class="tg-90e1" rowspan="2">Student Talks</td>
      <td class="tg-90e1" rowspan="2">Student Talks</td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">10:00-11:00</span></td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">11:00-12:00</span></td>
      <td class="tg-d52n" onclick="location.href='/en/keynote/hamieh';"> Moments of L-functions - Dr. Aliah Hamieh (keynote) </td>
      <td class="tg-d52n" onclick="location.href='/en/keynote/adcock';"> An introduction to the mathematics of compressive imaging - Dr. Ben Adcock (keynote) </td>
      <td class="tg-d52n" onclick="location.href='/en/keynote/scandolo';"> The Power of Quantum Resources - Dr. Carlo Maria Scandolo (keynote) </td>
      <td class="tg-d52n" onclick="location.href='/en/keynote/williams';"> Our Friend the Transpose - Dr. Ben Williams (keynote) </td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">12:00-13:00</span></td>
      <td class="tg-elvq" rowspan="2">Registration</td>
      <td class="tg-46ru">Lunch</td>
      <td class="tg-46ru">Lunch &amp; Grad Coffee Chat</td>
      <td class="tg-46ru">Lunch</td>
      <td class="tg-elvq">Closing Remarks &amp; Giveaways</td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">13:00-14:00</span></td>
      <td class="tg-d52x">Women In Math Panel</td>
      <td class="tg-re1e"></td>
      <td class="tg-d52x">Putnam Session</td>
      <td class="tg-re1e" rowspan="9"></td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">14:00-15:00</span></td>
      <td class="tg-elvq">Opening Remarks</td>
      <td class="tg-d52n" onclick="location.href='/en/keynote/cytrynbaum';"> Understanding Type-2 Diabetes progression through mathematical modelling - Dr. Eric Cytrynbaum (keynote) </td>
      <td class="tg-d52n" onclick="location.href='/en/keynote/walji';"> Needles in a Haystack - Dr. Nahid Walji (keynote, FR) </td>
      <td class="tg-d52n" onclick="location.href='/en/keynote/dukes';"> Dimension Without Coordinates - Dr. Peter Dukes (keynote) </td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">15:00-16:00</span></td>
      <td class="tg-d52n" onclick="location.href='/en/keynote/pramanik';"> Numbers -- Are They Normal? - Dr. Malabika Pramanik (keynote) </td>
      <td class="tg-90e1" rowspan="2">Student Talks</td>
      <td class="tg-90e1" rowspan="2">Student Talks</td>
      <td class="tg-90e1" rowspan="2">Student Talks</td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">16:00-17:00</span></td>
      <td class="tg-llyw" rowspan="2">Free Time/Campus Tours</td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">17:00-18:00</span></td>
      <td class="tg-re1e"></td>
      <td class="tg-re1e" rowspan="5"></td>
      <td class="tg-re1e" rowspan="3"></td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">18:00-19:00</span></td>
      <td class="tg-46ru" rowspan="3">Beach BBQ Social</td>
      <td class="tg-46ru">Dinner</td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">19:00-20:00</span></td>
      <td class="tg-46ru" rowspan="2">Social</td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">20:00-21:00</span></td>
      <td class="tg-46ru" rowspan="2">Gala Dinner at<br>Seasons in the Park<br></td>
    </tr>
    <tr>
      <td class="tg-0pky"><span style="font-weight:bold">21:00-22:00</span></td>
      <td class="tg-re1e"></td>
      <td class="tg-re1e"></td>
    </tr>
  </tbody>
</table>